:root {
  --error-color: #ff5e00;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  background-color: var(--main-color);

  height: 60rem;

  transform: translateY(-5rem);
  overflow: scroll;

  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;

  padding: 10rem 2rem 2rem 2rem;
}

/*Display error message if can't find category/description*/
.error {
  margin: 5rem auto;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--error-color);

  animation: fadein 1s;
}

.description-err {
  color: var(--error-color);
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;

  animation: fadein 1s;
}
/****************************************************/

.book-preview {
  position: relative;

  width: 100%;

  box-shadow: 0 0 2.4rem 0rem rgb(0 0 0 / 5%);

  padding-block: 3rem;
  border-radius: 2rem;

  cursor: pointer;
}

.book__info {
  height: 85%;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;

  gap: 2rem;
}

.book__info--image {
  height: 12rem;
  width: 20%;
  flex-shrink: 0;

  margin-left: 2rem;
}

.book__info--about {
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-right: 1rem;
}

.learn__more {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background-color: var(--buttons-color);
}

.learn__more:hover,
.learn__more:active {
  box-shadow: var(--button-shadow);
}

.chevron-down {
  height: 2rem;
  width: 2rem;

  margin-top: 0.4rem;

  color: var(--main-color);
}

/* Spinner */

.loader {
  width: 8rem;
  height: 8rem;
  border: 8px solid var(--main-color);
  border-bottom-color: var(--buttons-color);
  border-radius: 50%;

  margin-top: 3rem;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/****************************************************/
